*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: thistle;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}
h3{
    text-align: center;
}
.countainer{
    box-shadow: 0 2px  10px rgb(0,0,0,0.6);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 500px;
}
#btn{
    font-size: 1rem;
    display: block;
    background-color: blueviolet;
    border: 0;
    text-align: center;
    padding:20px;
    color:white;
    width: 100%;
}
#qiuzBlock{
    max-height: 100%;
    max-width: 100%;
}
#btn:hover{
    background-color: rgb(121, 24, 211);
}
ul {
    list-style-type: none;
}
ul li{
    font-size: 1.2rem;
    padding:5px;
}
ul li label{
    cursor: pointer;
}